#body {
	font-family:Helvetica, arial;
	font-size:12px;
}

a {
	color:rgb(51, 51, 51);
	text-decoration: none;
	font-family:Helvetica, arial;
	font-size:12px;
}


#header {
	background-color:rgb(250, 250, 250);
	background-image: -moz-linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234));
	border-bottom: 1px solid rgb(202, 202, 202);
	box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.4), 0pt 0pt 10px rgba(0, 0, 0, 0.1);
} 

#header .logo {
	padding-left: 10px;
	margin-bottom:10px;
}

.inside {
	border-left: 1px solid rgb(250, 250, 250);
	box-shadow: -1px 0pt 0pt rgb(224, 224, 224);
	padding: 10px;
}

.buttons {
	border: 1px solid rgb(221, 221, 221);
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0pt 1px 0pt rgb(250, 250, 250), 0pt 1px 0pt rgb(250, 250, 250) inset;
	list-style: none outside none;
}



#content {
	padding-top: 30px;
	margin: 0pt auto;
	width: 920px;
}


#breadcrumb a{
	padding-bottom:10px;
	font-family:Helvetica, arial;
	font-size:13px;
	font-weight:bold;
}

#breadcrumb {
	padding-bottom:10px;
	font-family:Helvetica, arial;
	font-size:13px;
}


#actions ul.buttons {
	border:none;
	display: inline-block;
	margin: 3px;
	padding:0px;
}

#actions ul.buttons li {
	list-style-type:none;
	display: inline-block;
	margin:1px;
	padding:0px;
}

#actions a.button {
	display:block;
	cursor:default;
	text-decoration:none;
	height:30px;
	line-height: 30px;
	font-family:Helvetica, arial;
	font-size:12px;
	font-weight:bold;
	text-shadow:1px 1px 0pt rgb(255, 255, 255);
	border:1px solid rgb(212, 212, 212);
	border-radius: 3px 3px 3px 3px;
	background-color: rgb(244, 244, 244);
	background-image: -moz-linear-gradient(rgb(244, 244, 244), rgb(236, 236, 236));
	padding: 0pt 2px 0pt 2px;
	margin: 0pt 0pt 0pt 2px;
}

#list {
	padding-left: 20px;
	transition:linear .1s;
	-moz-transition: linear .1s;
	-webkit-transition: linear .1s;
	-o-transition: linear .1s;

	float:left;
	background:none repeat scroll 0% 0% rgb(238, 238, 238);
	border-radius:3px 3px 3px 3px;
	padding:3px;
	margin-bottom:5px;
	width: 920px;
	margin-right: 100px
	;
}

#list table {
	border: 1px solid rgb(202, 202, 202);
	border-radius: 3px 3px 3px 3px;
	margin: 0pt;
	width: 100%;
}

#list tr.header{
	margin: 0pt;
	padding: 0pt;
	border:0pt none;
}

#list th {
	text-align: left;
	font-weight: bold;
	font-family:Helvetica, arial;
	font-size:12px;
	padding: 6px 3px;
	color: rgb(85, 85, 85);
	text-shadow: 0pt 1px 0pt rgb(255, 255, 255);
	border-bottom: 1px solid rgb(216, 216, 216);
	background-color: rgb(250, 250, 250);
	background-image:-moz-linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234));
}

#list td {
	background:none repeat scroll 0% 0% rgb(248, 248, 248);
	border-bottom:1px solid rgb(238, 238, 238);
	padding:7px 3px;
	color:rgb(72, 72, 72);
	vertical-align:middle;
}

#list td.icon {
	width: 17px;
	padding-right:2px;
	padding-left:10px;
}

#file {
	padding-left: 20px;
	font-family:Helvetica, arial;
	font-size:13px;
}

#file ul.buttons {
	border:none;
	display: inline-block;
	margin: 3px;
}

#file ul.buttons li {
	list-style-type:none;
	display: inline-block;
}

#file a.button {
	display:block;
	cursor:default;
	text-decoration:none;
	height:30px;
	line-height: 30px;
	font-family:Helvetica, arial;
	font-size:12px;
	font-weight:bold;
	text-shadow:1px 1px 0pt rgb(255, 255, 255);
	border:1px solid rgb(212, 212, 212);
	border-radius: 3px 3px 3px 3px;
	background-color: rgb(244, 244, 244);
	background-image: -moz-linear-gradient(rgb(244, 244, 244), rgb(236, 236, 236));
	padding: 0pt 8px 0pt 8px;
	margin: 0pt 0pt 0pt 5px;
}

#file a.button.inactive {
	color:rgb(220, 220, 220);
}

canvas {
	display: block;
}