<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Solar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        
        <link href="@{'/public/css/main.css'}" media="screen" rel="stylesheet" type="text/css" />

        <script src="@{'/public/js/lib/jquery-1.7.1.min.js'}"></script>
        <script src="@{'/public/js/lib/jquery-1.7.1.min.js'}"></script>
        <script src="@{'/public/js/editor/core.js'}"></script>
        <script src="@{'/public/js/editor/model.js'}"></script>
        <script src="@{'/public/js/editor/cursor.js'}"></script>
        <script src="@{'/public/js/editor/history.js'}"></script>
        <script src="@{'/public/js/editor/clipboard.js'}"></script>
        <script src="@{'/public/js/editor/editor.js'}"></script>
        <script src="@{'/public/js/editor/theme.js'}"></script>
        <script src="@{'/public/js/editor/parser.js'}"></script>

        <script src="@{'/public/js/editor/textile/parser.js'}"></script>
        <script src="@{'/public/js/editor/textile/theme.js'}"></script>
        <script src="@{'/public/js/editor/textile/preview.js'}"></script>

        <script src="@{'/public/js/editor/java/parser.js'}"></script>
        <script src="@{'/public/js/editor/java/theme.js'}"></script>

        <script type="text/javascript">
            $(function() {     
                var editor = new Solar.Editor('editor', '${path}', '@{Solar.compile}', '@{Solar.save}');


                $('a.save').live('click', function(e) {
                        e.preventDefault();
                        
                        if (!$('a.save').hasClass('inactive')) {
                                editor.save();
                                $('a.save').addClass('inactive');
                        }

                });

            });
        </script>

    </head>
    <body>
        <div id="header">
                <img class="logo" src="@{'/public/images/Solar.png'}" height="30"></img>
        </div>
        <div id="content">
                <div id="file">

                         %{
                                segments = path.split("/");
                                Closure trans = {previous, segment -> (previous.size() > 0) ? previous.add(previous.last()+ '/' + segment) : previous.add(segment)
                                return previous
                                };
                                def list = [];
                                previous = segments.inject(list,trans);
                        }%

                        #{list items:segments, as:'segment'}
                                #{if segment_isLast}
                                        ${segment}
                                #{/if}
                                #{else}
                                        ${segment} &gt;
                                #{/else}
                        #{/list}


                         
                        <ul class="buttons">
                                <li><a href="@{Solar.save}" class="button save inactive">Save</a></li>   
                                <li>
                                #{if previous.size() == 1}
                                        <a href="@{Solar.index()}" class="button">
                                #{/if}
                                #{else}
                                        <a href="@{Solar.list(previous[previous.size()-2])}" class="button">
                                #{/else}
                                Close</a>
                                </li>
                        </ul> 
                        <canvas id="editor" width="800" height="500">${content}</canvas>
                </div>
        </div>
</body>
</html>
