<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Solar</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        
        <link href="@{'/public/css/main.css'}" media="screen" rel="stylesheet" type="text/css" />

        <script src="@{'/public/js/lib/jquery-1.7.1.min.js'}"></script>
        <script src="@{'/public/js/lib/jquery-1.7.1.min.js'}"></script>

         <script type="text/javascript">
            $(function() {
                $('a.new').live('click', function(e) {
                        e.preventDefault();
                        var name=prompt("Please enter file name","");
                        if (name) {
                                $.get("/@solar/create/"+"${path}"+"/"+name,
                                        function(data){
                                                location.reload();
                                        },
                                        "text"
                                );
                        }
                });
            });
        </script>
        
    </head>
    <body>
        <div id="header">
                <img class="logo" src="@{'/public/images/Solar.png'}" height="30"></img>
        </div>
        <div id="content">

                %{
                        segments = path.split("/");
                        Closure trans = {previous, segment -> (previous.size() > 0) ? previous.add(previous.last()+ '/' + segment) : previous.add(segment)
                        return previous
                        };
                        def list = [];
                        previous = segments.inject(list,trans);
                }%

                <div id="breadcrumb">
                        

                         #{list items:segments, as:'segment'}
                                #{if segment_isLast}
                                        ${segment}
                                #{/if}
                                #{else}
                                        <a href="@{Solar.list(previous[segment_index-1])}">${segment}</a> &gt;
                                #{/else}
                        #{/list}
                </div>

                <div id="list">
                      <table cellpadding="0" cellspacing="0">
                      <thead>
                       <tr class="header">
                        <th></th>
                        <th>name</th>
                        </tr>
                        </thead>
                        <tbody>

                        #{ifnot path.isEmpty()}
                        <tr>
                                <td> </td>
                                <td>
                                #{if previous.size() == 1}
                                        <a href="@{Solar.index()}">
                                #{/if}
                                #{else}
                                        <a href="@{Solar.list(previous[previous.size()-2])}">
                                #{/else}
                                ..</a>
                                 </td>
                        </tr>
                        #{/ifnot}
                        #{list items:files, as:'file'}
                                
                                <tr>
                                #{if file.isDirectory()}
                                
                                %{
                                  targetPath = path.isEmpty() ? path : path + '/';
                                }%

                                <td class="icon"> <img alt="directory" height="16" width="16" src="@{'/public/images/folder.png'}"  /> </td>

                                <td class="content"> <a href="@{Solar.list(targetPath + file.getName())}">${file.getName()}</a> </td>
                        
                                #{/if}
                                #{else}

                                <tr>
                                <td class="icon"> <img alt="file" height="16" width="16" src="@{'/public/images/txt.png'}"/></td> 
                                <td class="content"> <a href="${'/@solar/edit/'+ path + '/' + file.getName()}">${file.getName()}</a>
                                </td>
                                
                                #{/else}
                                </tr>
 
                                #{/list}
                        </tbody>
                        </table>
                </div>

                <div id="actions">
                        <ul class="buttons">
                                <li><a href="" class="button new">New file</a></li>   
                        </ul>
                </div>

        </div>
   </body>
</html>
